a.fn.url{
  font-weight:600;
  text-decoration: underline !important;
}

.lotusui30 strong{
  font-weight:600;
  text-decoration: underline !important;
}

p a{
  font-weight:600;
  text-decoration: underline !important;
}
  
