/*.lotusActionBar[aria-label] { display: none !important; }*/

/*hide additional dropdown options for start a community button */
/* no longer works with april 2019 update
.dijitPopup[aria-label="dijit_Menu_0"] {display: none !important;} 
*/

/*hide additional dropdown options for start a community button */
/* updated as of april 2019 update */
body .icCatalogCommunityCreate.bx--dropdown .bx--dropdown-list{display: none !important;}
.bx--dropdown__arrow{ display: none !important;}

tr.placeRow{
  border-bottom: 1px solid #c6c6c6 !important;
}
tr.placeRow.lotusFirst{
  border-top: 1px solid #c6c6c6 !important;
}

.lotusui30 .tabNavBar .tabNavCommunityName div{
  text-transform: uppercase !important;
}
